.User{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.User:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

.User_picture {
    width: 20%;
    border-radius: 50%;
}

/* Don't display on small devices */
.User-details{
    display: none;
}

/* bigger devices  */
@media (min-width: 576px) {
    .User-details {
      display: block;
      padding: 0 0 0 1rem;
    }
    .User-name {
      margin: 0 0 1rem 0;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem;
    }
}